################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompanyEmployees/.vs/CompanyEmployees/config/applicationhost.config
/CompanyEmployees/.vs/CompanyEmployees/FileContentIndex/a0e4a027-2a47-46f0-bbbc-09c8bf9d960d.vsidx
/CompanyEmployees/.vs/CompanyEmployees/FileContentIndex/f923ea44-b94e-419d-9819-a265ddfcf12d.vsidx
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/ApiEndpoints.json
/CompanyEmployees/CompanyEmployees/Properties/launchSettings.json
/CompanyEmployees/.vs/CompanyEmployees/DesignTimeBuild/.dtbcache.v2
/CompanyEmployees/.vs/CompanyEmployees/FileContentIndex/13f255d8-d69e-4b48-86ed-2b1d492a390f.vsidx
/CompanyEmployees/.vs/CompanyEmployees/FileContentIndex/3ef01365-ff86-4690-bbad-49f1129af7d0.vsidx
*.vsidx
/CompanyEmployees/.vs/CompanyEmployees/v17/.futdcache.v2
/CompanyEmployees/.vs/CompanyEmployees/v17/.suo
/CompanyEmployees/.vs/CompanyEmployees/v17/DocumentLayout.json
/CompanyEmployees/.vs/ProjectEvaluation/companyemployees.metadata.v7.bin
/CompanyEmployees/.vs/ProjectEvaluation/companyemployees.projects.v7.bin
/CompanyEmployees/CompanyEmployees/bin/Debug/net8.0/appsettings.Development.json
/CompanyEmployees/CompanyEmployees/bin/Debug/net8.0/appsettings.json
/CompanyEmployees/CompanyEmployees/bin/Debug/net8.0/CompanyEmployees.deps.json
/CompanyEmployees/CompanyEmployees/bin/Debug/net8.0/CompanyEmployees.dll
/CompanyEmployees/CompanyEmployees/bin/Debug/net8.0/CompanyEmployees.exe
/CompanyEmployees/CompanyEmployees/bin/Debug/net8.0/CompanyEmployees.pdb
/CompanyEmployees/CompanyEmployees/bin/Debug/net8.0/CompanyEmployees.runtimeconfig.json
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/ref/CompanyEmployees.dll
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/refint/CompanyEmployees.dll
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/staticwebassets/msbuild.build.CompanyEmployees.props
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.CompanyEmployees.props
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.CompanyEmployees.props
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/apphost.exe
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.AssemblyInfo.cs
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.AssemblyInfoInputs.cache
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.csproj.CoreCompileInputs.cache
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.csproj.FileListAbsolute.txt
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.dll
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.genruntimeconfig.cache
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.MvcApplicationPartsAssemblyInfo.cache
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.pdb
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/CompanyEmployees.sourcelink.json
/CompanyEmployees/CompanyEmployees/obj/Debug/net8.0/staticwebassets.build.json
