################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/CompanyEmployees/.vs/CompanyEmployees
/CompanyEmployees/CompanyEmployees/obj
/CompanyEmployees/CompanyEmployees/bin/Debug/net8.0
